In [1]:
import pandas as pd

In [2]:
train_data= pd.read_csv('../data/train.csv')
argument = pd.read_csv('../addDateJson/total_arguments.csv')

In [5]:
add2 = argument[argument.target==2].iloc[:200]
add2

                                 text  target
3          전남소방, 전국 첫 ‘119생활안전전담대’ 운영       2
5    화이자 이어 AZ도 재고 이틀 남짓… 5월 백신 접종 비상       2
6               여수로 낚시 떠난 60대 숨진 채 발견       2
8         경찰, 친누나 살해 후 농수로 유기한 남동생 구속       2
9    “성관계 영상 팔아 벌금 내면 끝” 여친 협박 30대 실형       2
..                                ...     ...
388            “지역 서점 살리자”… 강원도 ‘인증제’       2
398       의정부성모, 정신건강 입원영역 적정성 평가 1등급       2
403      만취 상태서 사망 사고 낸 벤츠 운전자, 구속 기로       2
405      인천새마을금고 새생명돕기회 1500만원 길병원 쾌척       2
406  김어준 ‘7인 모임’ 과태료 안 낸다…4개월 만에 최종결론       2

[200 rows x 2 columns]

In [9]:
train_add2_200 = pd.concat([train_data,add2])
train_add2_200 = train_add2_200.sample(frac =1,random_state= 42)
 
train_add2_200.to_csv('../data/train_add2_200.csv',index=False)

In [10]:
add2 = argument[argument.target==2].iloc[:400]
train_add2_400 = pd.concat([train_data,add2])

train_add2_400 = train_add2_400.sample(frac =1,random_state= 42)
 
train_add2_400.to_csv('../data/train_add2_400.csv',index=False)

In [11]:
add2 = argument[argument.target==2].iloc[:600]
train_add2_600 = pd.concat([train_data,add2])

train_add2_600 = train_add2_600.sample(frac=1,random_state= 42)
 
train_add2_600.to_csv('../data/train_add2_600.csv',index=False)

In [12]:
add2 = argument[argument.target==2].iloc[:1000]
train_add2_1000 = pd.concat([train_data,add2])

train_add2_1000 = train_add2_1000.sample(frac=1,random_state= 42)
 
train_add2_1000.to_csv('../data/train_add2_1000.csv',index=False)

In [16]:
train_data= pd.read_csv('../data/train.csv')
argument = pd.read_csv('../addDateJson/total_remove_punc.csv')

In [17]:
add2 = argument[argument.target==2].iloc[:200]
add2

                                 text  target
3             전남소방 전국 첫 119생활안전전담대 운영       2
5    화이자 이어 AZ도 재고 이틀 남짓… 5월 백신 접종 비상       2
6               여수로 낚시 떠난 60대 숨진 채 발견       2
8          경찰 친누나 살해 후 농수로 유기한 남동생 구속       2
9      성관계 영상 팔아 벌금 내면 끝 여친 협박 30대 실형       2
..                                ...     ...
388                지역 서점 살리자… 강원도 인증제       2
398        의정부성모 정신건강 입원영역 적정성 평가 1등급       2
403       만취 상태서 사망 사고 낸 벤츠 운전자 구속 기로       2
405      인천새마을금고 새생명돕기회 1500만원 길병원 쾌척       2
406    김어준 7인 모임 과태료 안 낸다…4개월 만에 최종결론       2

[200 rows x 2 columns]

In [18]:
add2 = argument[argument.target==2].iloc[:600]
train_add2_600 = pd.concat([train_data,add2])

train_add2_600 = train_add2_600.sample(frac=1,random_state= 42)
 
train_add2_600.to_csv('../data/train_remove_punc2_600.csv',index=False)

target
2    1600
3    1000
4    1000
6    1000
5    1000
1    1000
0    1000
Name: count, dtype: int64