In [1]:
from g2pk import G2p
import pandas as pd

In [3]:
sent = "나의 친구는 계산이 아주 빠르다"
g2p = G2p()
g2p(sent)

'나의 친구는 계사니 아주 빠르다'

In [4]:
g2p(sent,descriptive=True)

'나에 친구는 게사니 아주 빠르다'

In [11]:
ai = pd.read_csv('../data/train_ai_limit.csv')
ai['type']=0
ai=ai.groupby('target').sample(n= 8048, random_state=42)
ai.head()

                                           text  target  type
23484           中 저가 TV 국내 상륙 본격화…75형이 삼성·LG 반값       0     0
118711  알기 쉬운 식품·의료제품 이야기 운동량 많지만 구이용으로 훌륭한 부채살       0     0
90671                K반도체 미래·K배터리 운명 바이든 손에 달렸다       0     0
101092  합천 안심 서비스 앱 전 국민 사용하는 국민안심서비스 앱으로 명칭 변경       0     0
107239             레고 활용 고품질 코딩 수업 이제 집에서도 간편하게       0     0

In [12]:
ai_per = ai.copy()
ai_des = ai.copy()
ai_per.type=1
ai_des.type=2
g2p = G2p()
ai_per.text= ai_per.text.apply(lambda x: g2p(x))
ai_des.text= ai_des.text.apply(lambda x: g2p(x,descriptive=True))

In [13]:
ai.to_csv('../data/train_ai_type.csv')
ai_per.to_csv('../data/train_ai_per.csv')
ai_des.to_csv('../data/train_ai_des.csv')

target
0    8048
1    8048
2    8048
3    8048
4    8048
5    8048
6    8048
Name: count, dtype: int64

In [22]:
ai_total=pd.concat([ai,ai_per,ai_des],ignore_index=True)
ai_total = ai_total.sample(frac=1,random_state=42)
ai_total.to_csv('../data/train_ai_total.csv',index=False)

In [19]:
ai_total.iloc[0]

text      中 저가 TV 국내 상륙 본격화…75형이 삼성·LG 반값
target                                  0
type                                    0
Name: 0, dtype: object

In [12]:
dev = pd.read_csv('../data/validation/dev.csv')
dev.text = dev.text.apply(lambda x: g2p(x,group_vowels=True))
dev

,Unnamed: 0,ID,text,target,url,date
0,2602,ynat-v1_train_02602,나태주 너를 먼저 생가칸다면 미투 나오 리 럽껟쬬,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.02.18. 오전 10:10
1,964,ynat-v1_train_00964,손학뀨 曺 임명은 정궈뉘기로 연결…지명철회 촉꾸,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.09.09. 오전 10:22
2,2893,ynat-v1_train_02893,北 청년동맹 치령돌 행사 여닐보도…대북쩨재 겨냥 체제결속,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.01.14. 오전 10:06
3,3318,ynat-v1_train_03318,가장 순수한 춤…서울국쩨즈킁춤축쩨 이십싸일 개막,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.04.16. 오전 10:10
4,3788,ynat-v1_train_03788,카슈끄지 살해 주범 빈살마 놩세자 보좌과 녀전히 실세로 활동,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.02.12. 오후 3:50
...,...,...,...,...,...,...
2095,5848,ynat-v1_train_05848,KT파워텔 폴더형 LTE 무전기 라저 에프이 출시,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.01.31. 오전 11:49
2096,4259,ynat-v1_train_04259,게시판 창의재단고용노동부 강남지청 일·가정 양닙 MOU,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.07.06. 오후 5:15
2097,5503,ynat-v1_train_05503,카드뉴스 우주의 유리천장을 깬 흐기 녀성들,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.02.10. 오전 11:00
2098,1745,ynat-v1_train_01745,장년 방한 관광객 씨비년마네 뒫꺼름…메르스 영향,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.01.19. 오전 7:24
2099,1864,ynat-v1_train_01864,도길 시비뤌 소비자물가 전년보다 일.일퍼센트 상승…약쎄 지속,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.12. 오후 8:45

In [14]:
dev.to_csv('./dev_g2p.csv',index=False)

In [19]:
from hanspell import spell_checker
x = spell_checker.check('안녕 하세요. 저는 한국인 입니다. 이문장은 한글로 작성됬습니다.')
x.as_dict()  # dict로 출력

KeyError: 'result'

In [21]:
spell_checker.check([u'안녕 하세요.', u'저는 한국인 입니다.'])

KeyError: 'result'

In [3]:

train = pd.read_csv('../argument_data/train_notNoise_type.csv')

train_per = pd.read_csv('../argument_data/train_notNoise_per.csv')
train_des = pd.read_csv('../argument_data/train_notNoise_des.csv')

In [8]:
train_des

,ID,text,target,url,date,type
0,ynat-v1_train_00000,개포이단지 부냥 압뚜고 개포지구 재건축 뿔부터,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37,2
1,ynat-v1_train_00001,삼성전자 KBIS 이영일팔서 셰프컬렉쎤 선보여,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33,2
2,ynat-v1_train_00002,L지 지육 싸면 보 이어포니 단도 노처눤,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00,2
3,ynat-v1_train_00003,신간 블록체인형명 이영사명·남자에 고독싸,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49,2
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타이니 노심명 테러 혀미로 체포,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15,2
...,...,...,...,...,...,...
6773,ynat-v1_train_06995,힐만 SK 감독 꼬통스럽찌만 내 상황 솔지키 알려야 해,5,https://sports.news.naver.com/news.nhn?oid=001...,2018.10.13 15:46,2
6774,ynat-v1_train_06996,정이장 사드 구쾨동이 사아 나니라 처도 충분히 혀비해야,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.07.17. 오후 6:20,2
6775,ynat-v1_train_06997,정치궈 넬시티 수사 돌발변수에 촉깍…왜 지금,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.11.16. 오후 6:24,2
6776,ynat-v1_train_06998,문 대통녕 일구팔칠 괄람…깜짝 빵무네 객써 콴호·박쑤종합,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.07. 오후 5:23,2
6777,ynat-v1_train_06999,배기심년 전 대한제구그로…가을밤 정동에서 시가 녀행 떠나다,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.10.28. 오후 8:13,2

In [7]:
total = pd.DataFrame()
total = pd.concat([train, train_per, train_des])
total

,ID,text,target,url,date,type
0,ynat-v1_train_00000,개포2단지 분양 앞두고 개포지구 재건축 불붙어,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37,0
1,ynat-v1_train_00001,삼성전자 KBIS 2018서 셰프컬렉션 선보여,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33,0
2,ynat-v1_train_00002,LG G6 사면 BO 이어폰이 단돈 5천원,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00,0
3,ynat-v1_train_00003,신간 블록체인혁명 2030·남자의 고독사,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49,0
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타인인 50명 테러 혐의로 체포,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15,0
...,...,...,...,...,...,...
6773,ynat-v1_train_06995,힐만 SK 감독 꼬통스럽찌만 내 상황 솔지키 알려야 해,5,https://sports.news.naver.com/news.nhn?oid=001...,2018.10.13 15:46,2
6774,ynat-v1_train_06996,정이장 사드 구쾨동이 사아 나니라 처도 충분히 혀비해야,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.07.17. 오후 6:20,2
6775,ynat-v1_train_06997,정치궈 넬시티 수사 돌발변수에 촉깍…왜 지금,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.11.16. 오후 6:24,2
6776,ynat-v1_train_06998,문 대통녕 일구팔칠 괄람…깜짝 빵무네 객써 콴호·박쑤종합,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.07. 오후 5:23,2
6777,ynat-v1_train_06999,배기심년 전 대한제구그로…가을밤 정동에서 시가 녀행 떠나다,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.10.28. 오후 8:13,2

In [12]:
total.drop_duplicates(subset='text')

,ID,text,target,url,date,type
0,ynat-v1_train_00000,개포2단지 분양 앞두고 개포지구 재건축 불붙어,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37,0
1,ynat-v1_train_00001,삼성전자 KBIS 2018서 셰프컬렉션 선보여,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33,0
2,ynat-v1_train_00002,LG G6 사면 BO 이어폰이 단돈 5천원,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00,0
3,ynat-v1_train_00003,신간 블록체인혁명 2030·남자의 고독사,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49,0
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타인인 50명 테러 혐의로 체포,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15,0
...,...,...,...,...,...,...
6750,ynat-v1_train_06972,伊 외무부 對쿠르드 군사작쩌네 항이…터키 대사 초치종합,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.10.11. 오전 12:48,2
6753,ynat-v1_train_06975,朴대통녕 사밀쩔 기념사 부캑포기·日하비이행 강조 전망,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.02.28. 오후 2:20,2
6768,ynat-v1_train_06990,바른정당 창당 일련…궁미네당과 통하 푸에 녁싸소그로,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.21. 오전 8:00,2
6769,ynat-v1_train_06991,서울시향 슈텐츠 지휘에 정기연주회 성뇨,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.06.24. 오후 4:13,2
6774,ynat-v1_train_06996,정이장 사드 구쾨동이 사아 나니라 처도 충분히 혀비해야,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.07.17. 오후 6:20,2

In [13]:
total.to_csv('../argument_data/train_notNoise_total.csv',index=False)

In [21]:
dev = pd.read_csv('../data/validation/dev.csv')
x=pd.merge(total,dev[['text','date']],on='text',how='outer')
x

,ID,text,target,url,date_x,type,date_y
0,ynat-v1_train_00000,개포2단지 분양 앞두고 개포지구 재건축 불붙어,1.0,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.16. 오전 11:37,0.0,NaN
1,ynat-v1_train_00001,삼성전자 KBIS 2018서 셰프컬렉션 선보여,0.0,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.01.10. 오전 8:33,0.0,NaN
2,ynat-v1_train_00002,LG G6 사면 BO 이어폰이 단돈 5천원,0.0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.30. 오전 10:00,0.0,NaN
3,ynat-v1_train_00003,신간 블록체인혁명 2030·남자의 고독사,3.0,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.06.13. 오전 11:49,0.0,NaN
4,ynat-v1_train_00004,이스라엘 정보당국 팔레스타인인 50명 테러 혐의로 체포,4.0,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.12.18. 오후 11:15,0.0,NaN
...,...,...,...,...,...,...,...
20590,NaN,디턴족 늘었다…설 연휴 국내 숙박 예약 300% 급증,NaN,NaN,NaN,NaN,2017.02.01. 오후 5:29
20591,NaN,美상원의원들 中국영 통신회사 미국내 사업허가 재검토해야,NaN,NaN,NaN,NaN,2019.09.17. 오후 3:41
20592,NaN,눈물 쏟은 문경은 선수 때 우승하고도 안 울었는데…,NaN,NaN,NaN,NaN,2018.04.18 21:50
20593,NaN,화순전남대병원 표아영 박사 2년 연속 미국 알라비 만델상,NaN,NaN,NaN,NaN,2020.04.07. 오후 2:54
20594,NaN,KT파워텔 폴더형 LTE 무전기 라져 F2 출시,NaN,NaN,NaN,NaN,2019.01.31. 오전 11:49

In [20]:
x[~x.date_y.isna()]

,ID,text,target,url,date_x,type,date_y
8,ynat-v1_train_00008,카카오·삼성화재 디지털 손해보험사 설립 추진,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2019.10.23. 오전 10:49,0,2019.10.23. 오전 10:49
16,ynat-v1_train_00016,광주은행 주택대출 급증…가계 원리금 상환 부담 커져,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.02.21. 오전 10:00,0,2018.02.21. 오전 10:00
18,ynat-v1_train_00018,조배숙 중앙위 정례회의 주재,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.02.02. 오전 8:54,0,2018.02.02. 오전 8:54
29,ynat-v1_train_00029,기성용 손흥민과 맞대결…카르바할 체제서 첫 시험대,5,https://sports.news.naver.com/news.nhn?oid=001...,2017.12.29 10:06,0,2017.12.29 10:06
30,ynat-v1_train_00030,갤럭시S8 중동 상륙…28일 아랍에미리트 출시,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.04.12. 오전 9:24,0,2017.04.12. 오전 9:24
...,...,...,...,...,...,...,...
20237,ynat-v1_train_06900,세게 스마트폰 시장 일분기도 역썽장…삼성 이뤼 탈환,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.05.02. 오후 3:29,2,2018.05.02. 오후 3:29
20242,ynat-v1_train_06905,맥쭈 본고장서 맥쭈 안 팔리네 도길 소비 최저치로 떠러저,4,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.01.30. 오전 7:57,2,2016.01.30. 오전 7:57
20251,ynat-v1_train_06914,CJ헬로 딜라이브 인수 추진…실사 시작,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.08.22. 오후 8:31,2,2018.08.22. 오후 8:31
20313,ynat-v1_train_06979,한반도 전쟁 위기 버서나려면 한국 뀬형외교 피료,6,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.04.26. 오후 4:47,2,2018.04.26. 오후 4:47
20317,ynat-v1_train_06983,신간 무고한 존재·드롭·유령함대,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.03.15. 오후 4:00,2,2018.03.15. 오후 4:00

In [27]:

train = pd.read_csv('../dev/dev_ai_p2g.csv')

train_per = pd.read_csv('../argument_data/train_ai_per.csv')
train_per['pred_target'] = train['pred_target']
train_des = pd.read_csv('../argument_data/train_ai_des.csv')
train_des['pred_target'] = train['pred_target']

In [26]:
train.pred_target.value_counts()

pred_target
2    57751
3    25599
6    14368
1    11742
4     8353
5     8035
0     7962
Name: count, dtype: int64

In [31]:
x=train.groupby('pred_target').sample(n=7962,random_state=42).index
x

Index([ 23309,  22128,  21914,  18183,  49752,  53624,  96219, 109239, 104472,
       106898,
       ...
        37978,  28171,  20445,   5455,  38060,  68128, 114791,  51973,  84500,
        17189],
      dtype='int64', length=55734)

In [28]:
train_des.head()

                                         text  target  type  pred_target
0             민주당 새 당대표에 파륭마텽 송영길…최고위워는 친문 강화       6     2            6
1          하루세번 동시다발 말폭탄 던진 北…한·미 겨냥 기선제암 나섣따       6     2            6
2                     서울시 코로나일구 완치자 일상 회복 똠는다       2     2            2
3                     전남소방 전국 처 디릴구생화란전전담대 우녕       2     2            2
4  비혼 출산 생명율리 파괴 위험성 커… 졸소 가닌 충분한 사회저 카비 선행돼야       2     2            2

In [32]:
total = pd.DataFrame()
total = pd.concat([train.iloc[x], train_per.iloc[x], train_des.iloc[x]])
total

,text,target,type,pred_target,prob
23309,휴림로봇 원더풀플랫폼과 AI 서비스로봇 사업화 MOU 체결,0,0,0,[9.9623507e-01 1.1640924e-03 1.3230450e-03 6.3...
22128,우리들휴브레인 스마트골프와 12조 골프시장 도전 스마트체어 개발,0,0,0,[9.9323297e-01 2.3449529e-03 1.9529714e-03 1.5...
21914,타다 빈자리 채우나…파파·코액터스·스타릭스·코나루스 출시,0,0,0,[9.8642832e-01 6.5277317e-03 2.8229612e-03 3.1...
18183,한손에 쏙 아이폰12 미니 덩치 작은데 속도는 엄청 빠르네 영상,0,0,0,[9.9662799e-01 1.0402873e-03 9.8623405e-04 5.9...
49752,에티카ETIQA 스마트 마스크 팩토리 본격 가동,0,0,0,[9.8907781e-01 2.7350907e-03 5.6156665e-03 1.5...
...,...,...,...,...,...
68128,내년 지방선거 누가 뛰나 김포시장,6,2,6,NaN
114791,비무 니철히 靑 정무수서게...노라고 말하는 참모 되겓따,6,2,6,NaN
51973,심가칸 싱냥나 닌정한 김정은... 대외절략 뼌화 꾀할까,6,2,6,NaN
84500,속뽀 문대통녕 김상조 전격꼉질…후이메 이호승 경제수석,6,2,6,NaN
17189,與 천도로는 노무현 수권 말 처음 꺼낸 대통녕은 박쩡히엳따,6,2,6,NaN

In [33]:
total.drop_duplicates(subset='text')
total

,text,target,type,pred_target,prob
23309,휴림로봇 원더풀플랫폼과 AI 서비스로봇 사업화 MOU 체결,0,0,0,[9.9623507e-01 1.1640924e-03 1.3230450e-03 6.3...
22128,우리들휴브레인 스마트골프와 12조 골프시장 도전 스마트체어 개발,0,0,0,[9.9323297e-01 2.3449529e-03 1.9529714e-03 1.5...
21914,타다 빈자리 채우나…파파·코액터스·스타릭스·코나루스 출시,0,0,0,[9.8642832e-01 6.5277317e-03 2.8229612e-03 3.1...
18183,한손에 쏙 아이폰12 미니 덩치 작은데 속도는 엄청 빠르네 영상,0,0,0,[9.9662799e-01 1.0402873e-03 9.8623405e-04 5.9...
49752,에티카ETIQA 스마트 마스크 팩토리 본격 가동,0,0,0,[9.8907781e-01 2.7350907e-03 5.6156665e-03 1.5...
...,...,...,...,...,...
68128,내년 지방선거 누가 뛰나 김포시장,6,2,6,NaN
114791,비무 니철히 靑 정무수서게...노라고 말하는 참모 되겓따,6,2,6,NaN
51973,심가칸 싱냥나 닌정한 김정은... 대외절략 뼌화 꾀할까,6,2,6,NaN
84500,속뽀 문대통녕 김상조 전격꼉질…후이메 이호승 경제수석,6,2,6,NaN
17189,與 천도로는 노무현 수권 말 처음 꺼낸 대통녕은 박쩡히엳따,6,2,6,NaN