In [2]:
import os
import json
import pandas as pd

In [17]:
label_num ={'IT과학':0,'경제':1,'사회':2,"문화":3,'국제':4,"스포츠":5,"정치":6}

In [43]:
file_list = os.listdir('../addDateJson/')
file_list

['TL_text_entailment.json',
 'VL_text_entailment.json',
 'VL_span_extraction.json',
 'TL_unanswerable.json',
 'VL_span_inference.json',
 'TL_span_inference.json',
 'TL_span_extraction.json',
 'VL_unanswerable.json']

### 각 파일당 csv 파일 생성

In [50]:
for file in file_list:
	li=[]
	with open(f'../addDateJson/{file}', "r") as f:
		data = json.load(f)
		for i in data['data']:
			code= i['doc_class']['code']
		# print(code)
			if code in label_num.keys():
				title = i['doc_title']
				li.append([title,label_num[code]])
	x= pd.DataFrame(li,columns=['text','target'])
	name = file[:-5]
	x.to_csv(f'../addDateJson/{name}.csv',index=False)

### 모든 파일 다 합쳐서 하나의 csv 파일

In [47]:
li=[]
for file in file_list:
	with open(f'../addDateJson/{file}', "r") as f:
		data = json.load(f)
		for i in data['data']:
			code= i['doc_class']['code']
		# print(code)
			if code in label_num.keys():
				title = i['doc_title']
				li.append([title,label_num[code]])
x= pd.DataFrame(li,columns=['text','target'])
x.to_csv('../addDateJson/total_arguments.csv',index=False)

                                                     text  target
0                       민주당 새 당대표에 86맏형 송영길…최고위원은 ‘친문’ 강화       6
1                    하루3번 동시다발 ‘말폭탄’ 던진 北…한·미 겨냥 기선제압 나섰다       6
2                                서울시, 코로나19 완치자 일상 회복 돕는다       6
3                              전남소방, 전국 첫 ‘119생활안전전담대’ 운영       2
4           “비혼 출산, 생명윤리 파괴 위험성 커… 졸속 아닌 충분한 사회적 합의 선행돼야”       3
...                                                   ...     ...
133805  정성호 “비문도 반문도 아니다” 전해철 “친노·친문 이유 역차별” 김태년 “당에 계...       6
133806                   민주당 오늘 원내대표 선출...김태년·전해철·정성호 3파전       6
133807                          일제 강제징용 피해 당사자 이동련 할머니 별세       2
133808              35 vs 4… 본지, 민주 초선 당선 68명 희망 상임위 전수조사       6
133809  평양 인근 신리 탄도미사일 지원시설 거의 완공 “ICBM 수용” vs “순안공항 방어용”       6

[133810 rows x 2 columns]

In [54]:
x[x.text.duplicated()]

                     text  target
623  남자 프로배구 첫 외국인 사령탑 탄생       5

In [55]:
x[x.text=='남자 프로배구 첫 외국인 사령탑 탄생']

                     text  target
601  남자 프로배구 첫 외국인 사령탑 탄생       5
623  남자 프로배구 첫 외국인 사령탑 탄생       5