In [1]:
import pandas as pd

In [2]:
dev = pd.read_csv('../totalWrong.csv')
train = pd.read_csv('../data/train/Total_train.csv')

In [3]:
dev.head()

,ID,text,target,url,date,pred_target
0,ynat-v1_train_00024,이뤄 뢰구긴 관광개 길보니 한구긔 이배…격차 계소 콱때되나,1,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.02.17. 오전 6:35,4
1,ynat-v1_train_00064,나경복 개인 첫 트리플크라운…우리카드 구단 최다 타이 5연승,0,https://sports.news.naver.com/news.nhn?oid=001...,2019.11.27 20:28,5
2,ynat-v1_train_00076,눈물 쏟은 문경은 선수 때 우승하고도 안 울었는데…,0,https://sports.news.naver.com/news.nhn?oid=001...,2018.04.18 21:50,5
3,ynat-v1_train_00084,빅텍 방위사업청에 60억원 규모 전자전장비 공급,0,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.12.26. 오후 2:43,1
4,ynat-v1_train_00128,3번 연기한 충북 기능경기대회 열려…일부 경기 차질,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2020.06.09. 오후 5:22,5

In [6]:
dev_index = pd.merge(train['ID'], dev.loc[:,:'date'],on='ID',how='left')
dev_index

                       ID text  target  url date
0     ynat-v1_train_00000  NaN     NaN  NaN  NaN
1     ynat-v1_train_00001  NaN     NaN  NaN  NaN
2     ynat-v1_train_00002  NaN     NaN  NaN  NaN
3     ynat-v1_train_00003  NaN     NaN  NaN  NaN
4     ynat-v1_train_00004  NaN     NaN  NaN  NaN
...                   ...  ...     ...  ...  ...
6995  ynat-v1_train_06995  NaN     NaN  NaN  NaN
6996  ynat-v1_train_06996  NaN     NaN  NaN  NaN
6997  ynat-v1_train_06997  NaN     NaN  NaN  NaN
6998  ynat-v1_train_06998  NaN     NaN  NaN  NaN
6999  ynat-v1_train_06999  NaN     NaN  NaN  NaN

[7000 rows x 5 columns]

In [10]:
dev_index[~dev_index.text.isna()].index

Index([  19,   24,   25,   35,   39,   47,   62,   64,   75,   76,
       ...
       6926, 6936, 6939, 6945, 6949, 6955, 6964, 6969, 6978, 6984],
      dtype='int64', length=1099)

In [11]:
train.drop(dev_index[~dev_index.text.isna()].index).to_csv('../data/wrong_train.csv',index =False)
dev.to_csv('../data/wrong_dev.csv',index =False)

In [12]:
ai = pd.read_csv('../dev/dev_AI.csv')
ai2 = pd.read_csv('../dev/dev_AI_limit.csv')

In [14]:
(ai.pred_target != ai2.pred_target).sum()

14994

In [17]:
ai[ai.pred_target != ai2.pred_target].pred_target.value_counts().reindex(range(7))

pred_target
0    1318
1     944
2    7160
3    2751
4     702
5    1168
6     951
Name: count, dtype: int64

In [18]:
ai2[ai.pred_target != ai2.pred_target].pred_target.value_counts().reindex(range(7))

pred_target
0    2510
1    4217
2    3246
3    2874
4     611
5     284
6    1252
Name: count, dtype: int64

In [21]:
pd.read_csv('../addDateJson/total_remove_punc.csv').target.value_counts()

target
2    47827
1    25885
3    22227
6    16840
5     7872
4     7487
0     5672
Name: count, dtype: int64

In [20]:
ai.pred_target.value_counts()

pred_target
2    61458
3    19372
6    15443
1    11289
5     8932
4     8741
0     8575
Name: count, dtype: int64

In [19]:
ai2.pred_target.value_counts()

pred_target
2    57544
3    19495
6    15744
1    14562
0     9767
4     8650
5     8048
Name: count, dtype: int64

In [24]:
ai3 = pd.DataFrame()
ai3['text']=ai2.text
ai3['target']=ai2.pred_target
ai3.to_csv('../data/train_ai_limit.csv',index=False)

In [26]:
ai3.target.value_counts()

target
2    57544
3    19495
6    15744
1    14562
0     9767
4     8650
5     8048
Name: count, dtype: int64